/* ----------------------------------------------------------------------------------------------- */
/* Меню */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw; /* Расстояние между кнопками зависит от ширины экрана */
    position: fixed;
    bottom: 5vh; /* Меню будет всегда находиться на 5% от высоты экрана */
    width: 100%;
}

/* Общие стили для кнопок */
.menu-button {
    width: 15vw; /* Размер кнопки зависит от ширины окна */
    height: 15vw;
    background-color: #005f99;
    border: none;
    border-radius: 50%; /* Круглая форма */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #007acc;
    transform: scale(1.1); /* Увеличение при наведении */
}

.menu-button img {
    width: 50%; /* Размер картинки зависит от размера кнопки */
    height: 50%;
}

/* Центральная кнопка ("Главная") */
.menu-button.main {
    width: 18vw; /* Центральная кнопка больше, чем другие */
    height: 18vw;
    background-color: #003366; /* Более тёмный оттенок */
}

.menu-button.main img {
    width: 60%; /* Увеличенный размер иконки для центральной кнопки */
    height: 60%;
}